<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
<h3 id="customerMapHeading">Select a location on the map to view the menu...</h3>
<div id="mapid"></div>
<button id ="button4" onclick="getLocation()">Click here to view your location on the map</button>



{{#each vendors}}

  <script>
  $(document).ready(function(){
    var marker=L.marker([{{this.latitude}}, {{this.longitude}}],13).addTo(mymap);
     marker.bindPopup("<a style='color:black' href='/customer/menu/{{this._id}}'>Shop at {{this.vendorName}}</a>").openPopup();
    
  })
</script>

{{/each}}



<p id="demo"></p>


</body>

<script>
var x = document.getElementById("demo");


function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
     mymap.setView([position.coords.latitude, position.coords.longitude], 13);
     var marker1 = L.marker([position.coords.latitude, position.coords.longitude],13).addTo(mymap);
     marker1.bindPopup("<b>Your are here</b>.").openPopup();
     mymap.panTo([position.coords.latitude, position.coords.longitude])
     var circleMarker = L.circleMarker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
}




</script>



<script>
    var mymap = L.map('mapid').setView([-37.81394,144.96342], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiaXJlbGFuZG4iLCJhIjoiY2twMmYxMmZsMDFudDJvczRpZWk1cnh6dCJ9.Sxv1SSVKg88CjgXVRbvIsg'
}).addTo(mymap);
</script>
